@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: Comfortaa;
    font-weight: bold;
}

body{
    background-color: #8BD7D2;
}

.box{
    background-color: #00BD9D;
    width: 100%;
    height: 200px;
    border: none;

    /*Creates a flex box and centres it*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    border: none; /*removes any visible border around element*/
    color: white; /*sets text colour as white*/
    padding: 16px 32px; /*adds space inside of the button to make it larger and easier to click*/
    text-decoration: none; /*removes anything like underlines*/
    display: block; /*turn it into a block to make it easier to centre and manipulate as it takes up its own horizontal space*/
    font-size: 25px; /*sets font size*/
    margin: 4px 2px; /*adds sapce outside the element*/
    transition-duration: 0.4s; /*sets the transition dration when hovering*/
    cursor: pointer; /*changes mouse pointer into hand icon to show its clickable*/
    background-color: #49C6E5; /*changes background colour of the button to dark grey*/
    font-family: Comfortaa;
}

.button:hover {
  background-color: #54DEFD;
  color: whitesmoke
}

.startButton{
    width: 400px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto; /*centres the button horizontally*/
    margin-top: 100px;
    font-size: 60px;
    
}

.instructionsButton{
    border-radius: 10px;
    margin: 0 auto; /*centres the button horizontally*/
    margin-top: 100px;
    font-size: 60px;
}

#text-to-toggle{
    color: white;
    font-family: Comfortaa;
    font-size: 55px;
    text-align: center;
    margin: 4px;
    padding: 20px;
    display: none;
}