body{
    background-color: black;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
}

textarea{
    width: 60%;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Georgia;
}

.export-buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Georgia;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
}

.copyB:hover{
    background-color: blueviolet;
}

.docxB:hover{
    background-color: blue;
}

.pdfB:hover{
    background-color: red;
}

.txtFileB:hover{
    background-color: yellow;
}

#exportFileName{
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

label{
    margin-top: 20px;
    color: white;
    font-family: Georgia;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#returnButton{
    width: 250px;
    height: 80px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: darkgray;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Georgia;
}

#returnButton:hover{
    background-color: whitesmoke;
    color: rgb(0, 217, 255);
}
