@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body{
    background-color: #8BD7D2;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
}

textarea{
    width: 60%;
    height: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    font-family: Georgia;
}

.export-buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Georgia;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
}

.copyB:hover{
    background-color: blueviolet;
    color: white;
}

.docxB:hover{
    background-color: blue;
    color: white;
}

.pdfB:hover{
    background-color: red;
    color: white;
}

.txtFileB:hover{
    background-color: goldenrod; 
    color: white;
}

#exportFileName{
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

label{
    margin-top: 20px;
    color: white;
    font-family: Georgia;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#returnButton{
    width: 250px;
    height: 80px;
    border-radius: 15px;
    border-color: #54DEFD;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #49C6E5;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Georgia;
}

#returnButton:hover{
    background-color: #54DEFD;
    color: whitesmoke;
}
