@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body{
  background-color: #8BD7D2;
}

h1{
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 0px;
}

.button{
  border: none;
  display: block; 
  color: white; 
  padding: 16px 32px; 
  font-size: 25px; 
  margin: 0 auto; 
  transition-duration: 0.4s;
  cursor: pointer; 
  background-color: #49C6E5; 
  font-family: Georgia;
}

.button:hover {
  background-color: #54DEFD;
  color: whitesmoke
}

.button1{
  border-radius: 50px;
  margin-top: 100px;
  font-size: 50px;
}

.file-upload{
  width: 50%;
  font-family: Georgia;
  font-size: 25px;
  display: block;
  padding: 20px;
  border: 2px dashed #00BD9D;
  border-radius: 8px;
  transition: border-color 0.3s;
  gap: 15px;


  /*To centre elements in the div*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*To centre the div itself*/
  margin: 0 auto;
}

.file-upload.dragover {
  border-color: rgb(96, 96, 244);
  background-color: rgba(0, 123, 255, 0.1);
}

#fileInput {
  display: none; /*Hides the ugly upload button so we can add our own custom UI*/
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #49C6E5;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.file-upload label:hover {
  background-color: #54DEFD;
}

#file-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#file-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 500px;
}

#file-preview span{
  /*for the image text displayed below the text*/
  font-family: Georgia;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#error-message {
  display: block;
  color: red;
  margin-top: 10px;
}

#uploadButton {
  display: block;
  padding: 20px 40px;
  background-color: #00BD9D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 50px;
  font-family: Georgia;

  margin: 100px auto;
}

#uploadButton:hover {
  background-color: green;
}

.loading-wheel{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: opacity 0.75s, visibility 0.75s;
}

/*to hide the loader when the proccess is done*/
.loading-wheel-hidden{
  opacity: 0;
  visibility: hidden;
}

/*after the throbber is initalised this stuff is added so that the keyframes can be used to animate it*/
.loading-wheel::after{
  content: '';
  width: 60px;
  height: 60px;
  border: 9px solid grey;
  border-top-color: blue;
  border-radius: 50%;
  /*sets the keyframes to occur in 0.75s intervals, using ease it eases the two key frames together and then just keep going forever*/
  animation: loading 0.68s ease infinite;
}

@keyframes loading {
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}