body{
  background-color: black;
}

h1{
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 100px;
}

.button{
  border: none;
  display: block; 
  color: white; 
  padding: 16px 32px; 
  font-size: 25px; 
  margin: 0 auto; 
  transition-duration: 0.4s;
  cursor: pointer; 
  background-color: darkgray; 
  font-family: Georgia;
}

.button:hover {
  background-color: whitesmoke;
  color: rgb(0, 217, 255);
}

.button1{
  border-radius: 50px;
  margin-top: 100px;
  font-size: 50px;
}

.file-upload{
  width: 50%;
  font-family: Georgia;
  font-size: 25px;
  display: block;
  padding: 20px;
  border: 2px dashed white;
  border-radius: 8px;
  transition: border-color 0.3s;
  gap: 15px;


  /*To centre elements in the div*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*To centre the div itself*/
  margin: 0 auto;
}

.file-upload.dragover {
  border-color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

#fileInput {
  display: none; /*Hides the ugly upload button so we can add our own custom UI*/
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.file-upload label:hover {
  background-color: #0056b3;
}

#file-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#file-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 300px;
}

#file-preview span{
  /*for the image text displayed below the text*/
  font-family: Georgia;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#error-message {
  display: block;
  color: #dc3545;
  margin-top: 10px;
}

#uploadButton {
  display: block;
  padding: 20px 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 50px;
  font-family: Georgia;

  margin: 100px auto;
}

#uploadButton:hover {
  background-color: #218838;
}